<%- include('../partials/header') %>
<form method="POST" action="/cohorts">
  <%- include("../partials/formInput.ejs") %>
  <input type="submit" class="btn btn-outline-success" value="Submit" />
</form>
<%- include('../partials/footer') %>