<%- include("./partials/header.ejs") %>

<form action="/submit">
    <div>
        <label for="logo">Logo URL</label> <br>
        <input type="text" id="logo" name="logo" placeholder="e.g. https://www.example.com/some.png">
    </div>
    <div>
        <label for="name">Name</label> <br>
        <input type="text" id="name" name="name" placeholder="Flying Funks">
    </div>
    <div>
        <!-- make larger entry field -->
        <label for="members">Members</label> <br> 
        <input type = "text" name="members" id="members" placeholder="Jon Snow, James Brown, Harry Potter">
    </div>
    <br>
    <input type="submit" value="Submit">
</form>
<%- include("./partials/footer.ejs") %>