<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/hello_world">Hello World</a>
            </li>
            <li>
                <a href="/survey">Survey</a>
            </li>
        </ul>
        <% if (username) { %>
            <ul>
            <li>
                <span>Hello, <%- username %>!</span>
            </li>
            </ul>
       <% } else { %>
            <ul>
                <li>
                    <form action="/sign_in" method="POST"></form>
                    <input type="text" name="username">
                     <button type="submit">Sign In</button>
                </li>
            </ul>
       <% } %>

    </nav>
</header>
<br>
<hr/>
